body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}

main {
    flex-grow: 1;
    background: #fff;
}

a {
    text-decoration: none;
}

input {
    font-family: inherit;
}
.hidden {
    display: none;
}
ul,
ol {
    padding-left: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #region container */

 .container {
     padding: 0 16px;
     width: 320px;
     margin: 0 auto;
 }
 
 @media screen and (min-width: 768px) {
     .container {
         width: 768px;
     }
    
 }
 @media screen and (min-width: 1158px) {
     .container {
        padding: 0 15px;
        width: 1158px;
     }
    
 }

 /* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.conteiner-header {
    background-color: #FFFFFF;
    display: flex;
 align-items: center;
 justify-content: space-between;
}
.menu-header,
.contact {
    display: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
span {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2e2f42;
}

@media screen and (min-width: 768px) {
    .menu-header {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contact {
        display: block;
        font-style: normal;
    }

    .burger-btn {
        display: none;
    }


    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }
        .nav-header {
            display: flex;
            align-items: center;
        }
}
.current {
    position: relative;
    color: #2e2f42;
}

.link.current {
    color: #404bbf;
}

.link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.link-contact {
    color: #434455;
    font-style: normal;
font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover,
.link-contact:focus {
    color: #404bbf;
}
 @media screen and (min-width: 1158px) {
    .contact {
            font-style: normal;
            display: flex;
            margin-left: auto;
        }
    
        .link-contact {
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-size: 16px;
            padding: 24px 0;
        }
            .header-logo {
                     margin-right: 76px;
                 }
         .contact-list {
         flex-direction: row;
        align-items: center;
         gap: 40px;
     }
 }

 /* #region solution */

 .solution {
     padding: 72px 0;
     background-color: #2E2F42;
     background-image: linear-gradient(to bottom,
             rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)),
         url(../images/heroimg.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-width: 320px;
     margin: 0 auto;

 }

 .title-solution {
     letter-spacing: 0.02em;
     width: 216px;
     margin: 0 auto;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
 }

 .button {
     font-family: Roboto, sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: #FFFFFF;
     letter-spacing: 0.04em;
     background-color: #4D5AE5;
     cursor: pointer;
     border-radius: 4px;
     min-width: 169px;
     height: 56px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 72px auto 0;
     display: block;
     border: none;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .button:hover,
 .button:focus {
     background-color: #404BBF;
 }

 @media screen and (min-width: 768px) {
     .solution {
         padding: 112px 0;
         max-width: 768px;
     }

     .title-solution {
        font-size: 56px;
            font-weight: bold;
            line-height: 1.07;
            letter-spacing: 0.02em;
            width: 496px;
            margin: 0 auto;
     }

     .button {
         margin: 36px auto 0;
     }
    
 }

 @media screen and (min-width: 1158px) {
     .solution {
        padding: 188px 0;
        max-width: 1440px;
     }

     .title-solution {
        font-size: 56px;
            font-weight: bold;
            line-height: 1.07;
            letter-spacing: 0.02em;
            max-width: 496px;
            margin: 0 auto;
     }

     .button {
         margin: 48px auto 0;
     }
    
 }

 /*#region strategy*/

 .strategy {
     padding: 96px 0;
 }


 .conteiner-strategy-icon {
display: none;
 }

 .strategy-list {
     display: flex;
     flex-direction: column;
        align-items: center;
     justify-content: space-between;
     gap: 72px;
 }

 .strategy-list-item {
     display: inline-block;
     width: calc((100%-32px)/4);
 }

 .title-strategy {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;

 }

 .text-strategy {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
    font-weight: 500;
      
 }

 @media screen and (min-width: 768px) {

     .strategy-list {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 72px 24px;
     }

     .strategy-list-item {
         width: 356px;
         height: 120px;

     }
          .title-strategy {
              text-align: left;
          }
 }
 @media screen and (min-width: 1158px) {
     .strategy {
        padding: 120px 156px;
       
     }

     .strategy-list {
         gap: 24px;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 1128px;
            height: 312px;
     }
         .conteiner-strategy-icon {
             display: flex;
             align-items: center;
             justify-content: center;
             border: 1px solid #8e8f99;
             border-radius: 4px;
             margin-bottom: 8px;
             height: 112px;
             background-color: #f4f4fd;
         }
.icon-strategy {
    height: 64px;
    width: 64px;
}
     .strategy-list-item {
    width: calc((100%-72px)/4);
    display: inline-block;
     }
        .title-strategy {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }
    
        .text-strategy {
            font-weight: 400;
        }
                .conteiner-strategy>li {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 8px;
                    width: 264px;
                    height: 104px;
                }
 }

 /*#region team*/
 .team-card {
     background-color: #F4F4FD;
    padding: 96px 0;
 }
  
.conteiner-team-card {
    width: 320px;
    margin: 0 auto;
}
 .title {
     margin-bottom: 72px;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     text-transform: capitalize;
 }
 .team-list {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 72px;
 }
 .about-team {
     padding: 32px 0;
 }
 .team-info {
     background-color: #FFFFFF;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 32px;
     border-radius: 0 0 4px 4px;
     width: 264px;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }
 .title-team {
     font-weight: 500;
     font-size: 20px;
     letter-spacing: 0.02em;
     line-height: 1.2;
     color: #2e2f42;
     text-align: center;
     margin-bottom: 8px;
 }
 .text-team {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     text-align: center;
     font-weight: 400;
     text-align: center;
 }
 .social-team-card-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 24px;
     margin-top: 8px;
 }
 .social-team-card-icon {
     fill: #fff;
     width: 40px;
     height: 40px;
 }
 .linc-social-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .linc-social-icon:hover,
 .linc-social-icon:focus {
     background-color: #404bbf;
 }
 .header-icon {
     fill: #f4f4fd;
 }
  @media screen and (min-width: 768px) {
    
     .conteiner-team-card {
         width: 768px;
         padding: 96px 0;
     }
   
     .team-list {
         gap: 64px 24px;
         justify-content: center;
     } 
  }

  @media screen and (min-width: 1158px) {
     .team-card {
        padding: 120px 0;
     }
     .conteiner-team-card {
         width: 1158px;
     }
     .team-list {
         gap: 24px;
         justify-content: space-between;
     }
        .team-info {
            width: calc((100%-72PX)/4);
        }
  }

  /*#region portofolio*/

  .portfolio {
      padding-top: 96px;
      padding-bottom: 96px;
  }

  .portofolio-card {
    width: 288px;
      box-shadow: none;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portofolio-card:hover {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
          0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 2px 1px rgba(46, 47, 66, 0.08);

  }
 

  .title-portfolio {
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.02em;
      line-height: 1.11;
      text-align: center;
      text-transform: capitalize;
      color: #2e2f42;
      margin-bottom: 72px;
  }

  .portfolio-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 48px;
  }

  .title-card-conteiner {
      padding: 32px 16px;
      border: 1px solid #e7e9fc;
      border-top: none;
  }
  .title-card {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.02em;
      line-height: 1.2;
      color: #2e2f42;
      margin-bottom: 8px
  }
  .text-card {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
  }

  @media screen and (min-width: 768px) {

      .portofolio-card {
        width: calc((100% - 24px)/2);
      }

        .portfolio-list {
            gap: 72px 24px;
            justify-content: space-between;
        }
    }
@media screen and (max-width: 1157px) {
    .overlay-text {
        display: none;
    }
}
    @media screen and (min-width: 1158px) {
        .portfolio {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .portfolio-list {
         gap: 48px 24px;
}
         .portofolio-card {
               width: calc((100% - 48px)/3);
    
           }

           .overlay-portofolio {
               position: relative;
               overflow: hidden;
               transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
           }
             .overlay-portofolio:hover .overlay-text {
                       transform: translateY(0);
                   }
             .overlay-text {
                              font-weight: 400;
                              font-size: 16px;
                              line-height: 1.5;
                              letter-spacing: 0.02em;
                              color: #f4f4fd;
                              position: absolute;
                              padding: 40px 32px;
                              top: 0;
                              left: 0;
                              width: 100%;
                              height: 100%;
                              transform: translateY(100%);
                              background-color: #4d5ae5;
                              transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                          }
    }

        /*#region footer*/

                .footer-end {
                    background-color: #2e2f42;
                    padding-top: 96px;
                    padding-bottom: 96px;
                }
 .container-footer {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 72px;
 }  
 .logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
 }             
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
   
}

.footer-span {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    font-weight: 400;
    max-width: 288px;
}
.social-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

}
.text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.social-footer-icon {
    fill: #FFFFFF;
    width: 40px;
    height: 40px;
}
.social-footer-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icons:hover,
.social-footer-icons:focus {
    background-color: #31d0aa;
}

.footer-icon {
    color: #FFFFFF;
    fill: #f4f4fd;
}
.social-footer-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}
.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.title-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.form-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #ffffff;
}

.input::placeholder {
    color: #ffffff;
}

.button-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;

}
.frame {
    fill: #FFFFFF;
    height: 24px;
    width: 24px;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 72px 24px;
        width: 584px;
    }
    .logo-box {
        align-items: flex-start;
    }
    .social-container {
        align-items: flex-start;
    }
    .subscribe {
        align-items: flex-start;
    }
        .form-footer {
            flex-direction: row;
            gap: 24px;
        }
    .footer-end {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .logo-footer {
        margin-left: 0;
        margin-right: 0;
    }
    .text-footer {
        max-width: 264px;
    }
   
}

@media screen and (min-width: 1158px) {
    .container-footer {
        align-items: baseline;
        gap: unset;
        width: 1440px;
    }
    .footer-end {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .logo-box {
        width: 264px;
        margin-right: 120px;
    }

    .form-footer {
        align-items: center;
    }
    .text-footer {
        max-width: 264px;
    }
   .social-container {
    margin-right: 80px;
   }
    
}